.u-center-text { text-align: center;}

.u-margin-bottom-big { margin-bottom: 8rem;}
.u-margin-bottom-meduim { margin-bottom: 4rem;}
.u-margin-bottom-small { margin-bottom: 1.4rem;}
.u-margin-left-small { margin-left: 10rem;}
.u-margin-right-small { margin-right: 10rem;}
.u-margin-left-meduim { margin-left: 15rem;}
.u-margin-right-meduim { margin-right: 15rem;}
.u-margin-top { margin-top: 10rem;}

.btn-text-width {
    max-width: 17%;
}

.features-height{
    height: 100vh;
}
.features-padding {
    padding: 10rem;
}